[submodule "Vendor/JUCE"]
	path = Vendor/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Vendor/signalsmith-stretch"]
	path = Vendor/signalsmith-stretch
	url = https://github.com/Signalsmith-Audio/signalsmith-stretch.git
[submodule "Vendor/signalsmith-linear"]
	path = Vendor/signalsmith-linear
	url = https://github.com/Signalsmith-Audio/linear.git
